@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}
.hover-nav {  border-bottom: 1px transparent; }
.navbar-brand:hover,.hover-nav:hover { color: #ffcc00 !important; }
.hover-nav:hover { border-bottom:1px solid #ffcc00;}

h1{
    text-shadow: 3px 3px 3px #725505;
    color:  #f29102 !important;
}
.card{ box-shadow: 4px 4px 6px  rgb(120, 120, 170); }
.card:hover{ 
    box-shadow: 12px 12px 9px  rgb(120, 120, 170); 
    scale: 1.05;
}